/* Основные стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    color: #333;
    overflow-x: hidden;
}
header {
    background-color: #007BFF;
    color: white;
    padding: 60px 20px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
}
h1 {
    font-size: 2.5em;
    margin: 0;
    padding-bottom: 10px;
}
p.subtitle {
    font-size: 1.2em;
    margin: 0;
    opacity: 0.9;
}
section {
    padding: 40px 20px;
    text-align: center;
}
section h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}
section p {
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.1em;
    line-height: 1.6;
    color: #666;
}
.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
}
.service {
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 20px;
    width: 250px;
    transition: transform 0.3s ease;
}
.service:hover {
    transform: translateY(-10px);
}
.service h3 {
    font-size: 1.5em;
    color: #007BFF;
    margin-bottom: 10px;
}
.contact {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
}
.contact a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    transition: color 0.3s;
}
.contact a:hover {
    color: #0056b3;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.9em;
}

/* Стили карусели */
.carousel {
    max-width: 80%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.carousel-item {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-item img {
    width: 100%;
    height: 400px;
    object-fit: contain;
}
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 2em;
    padding: 10px;
}
.carousel-button.prev {
    left: 10px;
}
.carousel-button.next {
    right: 10px;
}
